# FishFeeder v2.0 MQTT Configurations (Template)
# Rename this file to .env and fill in your details.

VITE_MQTT_BROKER_URL=wss://<YOUR_HIVEMQ_HOST>.s1.eu.hivemq.cloud:8884/mqtt
VITE_MQTT_USERNAME=<YOUR_MQTT_USERNAME>
VITE_MQTT_PASSWORD=<YOUR_MQTT_PASSWORD>
